.stn-projects .photo-wrapper {
  flex-direction: row;
  gap: 3rem;
  flex-wrap: wrap;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.stn-projects button {
  align-self: self-end;
}
.stn-projects h1 {
  align-self: self-start;
}
.stn-projects {
  margin-bottom: 12rem;
}
.photo-card1 {
  background-image: url(/public/img/project1.png);
  padding-top: 4.8rem;
  padding-left: 7.9rem;

  width: 57rem;
  height: 25.5rem;
}
.photo-card1 h1 {
  font-family: "Roboto-Bold";
  color: #fff;
}
.photo-card1 p {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #fff;
}
